<p-card header="About">
    <div class="mb-4">
        This is a demo make for the Hacktoberfest 2022 by <a href="https://github.com/ffex" target="_blank"><i
                class="pi pi-github"></i>ffex</a> .
        </div>
    <div class="grid">
        <div class="col-6">
            <img alt="logo" src="assets/appwrite-badge.svg" class="w-full" />
            <img alt="logo" src="assets/deepgram.png"  />
        </div>
        <div class="col-4">
            <div class="grid">
                <div class="col-12">
                    <p-button styleClass="p-button-primary p-button-rounded">
                        <ng-template pTemplate="content">
                            <img alt="logo" src="assets/python-logo-only.png" style="width: 1.4rem" /> &nbsp; Python
                        </ng-template>
                    </p-button>
                </div>
                <div class="col-12">
                    <p-button styleClass="p-button-primary p-button-rounded">
                        <ng-template pTemplate="content">
                            <img alt="logo" src="assets/pytube.svg" style="width: 5.4rem" /> 
                        </ng-template>
                    </p-button>
                </div>
                <div class="col-12">
                    <p-button styleClass="p-button-primary p-button-rounded ">
                        <ng-template pTemplate="content">
                            <img alt="logo" src="assets/deepgram.png" style="width: 7.4rem" /> 
                        </ng-template>
                    </p-button>
                </div>
                <div class="col-12">
                    <p-button styleClass="p-button-secondary p-button-rounded">
                        <ng-template pTemplate="content">
                            <img alt="logo" src="assets/angular.svg" style="width: 1.5rem" /> Angular
                        </ng-template>
                    </p-button>
                </div>
                <div class="col-12">
                    <p-button styleClass="p-button-secondary p-button-rounded">
                        <ng-template pTemplate="content">
                            <img alt="logo" src="assets/primeng.svg" style="width: 1.25rem" /> &nbsp;PrimeNG
                        </ng-template>
                    </p-button>
                </div>
            </div>
        </div>
    </div>
</p-card>